@model AppealMaxxWeb.Models.Workout

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AppealMaxxWeb.Models.Workout</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkoutName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkoutName)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationMinutes)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurnedCalories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurnedCalories)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkoutDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkoutDate)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="WorkoutId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
