@model IEnumerable<AppealMaxxWeb.Models.Meal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(model => item.MealName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Calories)
            </td>
            <td>
                @Html.DisplayFor(model => item.MealDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.User)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MealId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MealId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MealId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
